<header class="site-header">
  <div class="container">
    <div class="header-left">
      <h1 class="site-title"><a href="{{ site.baseurl }}/">PraxPod</a></h1>
    </div>
    <nav class="site-nav" id="site-nav">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/episodes/">Episodes</a>
      <a href="https://github.com/Saumy1905/PYQFort" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://pyqfort.com/" target="_blank" rel="noopener noreferrer">PYQFort</a>
    </nav>
    <div class="header-right">
      <a href="https://tally.so/r/wz6BKa" target="_blank" rel="noopener noreferrer" class="add-pyq-button" aria-label="Add PYQs" style="margin-top: 1.7px; display: inline-block;">
          <i class="fa-solid fa-plus standard-icon"></i>
        </a>
        <style>
          .standard-icon {
            color: #5d7bf9;
            font-size: 1.33em;
          }
        </style>
      <button class="theme-toggle" id="theme-toggle" aria-label="Toggle theme">
        <i class="fas fa-moon"></i>
      </button>
      <button class="menu-toggle" id="menu-toggle" aria-label="Toggle menu">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
</header>
<div class="search-container" id="search-container"></div>
