---
layout: default
title: Episodes
---
<section class="hero">
  <div class="container">
    <h1>Episodes</h1>
    <p>Browse all audio episodes</p>
  </div>
</section>

<section>
  <div class="container">
    <div class="pdf-grid">
      {% for show in site.data.podcasts %}
        {% for ep in show.episodes %}
          {% capture ep_url %}{{ site.baseurl }}/episodes/{{ ep.college }}/{{ ep.branch }}/{{ ep.id }}/{% endcapture %}
          {% include episode-card.html
            url=ep_url
            title=ep.title
            college=ep.college
            branch=ep.branch
            year=ep.year
            duration=ep.duration
            audio_url=ep.audio_url %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
